@font-face {
  font-family: "Inter-Black";
  src: url("../assets/fonts/Inter-Black.ttf") format("truetype");
}

body {
  font-family: "Inter-Black", sans-serif;
}

@font-face {
  font-family: "Inter-Bold";
  src: url("../assets/fonts/Inter-Bold.ttf") format("truetype");
}

body {
  font-family: "Inter-Bold", sans-serif;
}

@font-face {
  font-family: "Inter-ExtraBold";
  src: url("../assets/fonts/Inter-ExtraBold.ttf") format("truetype");
}

body {
  font-family: "Inter-ExtraBold", sans-serif;
}

.divServicesCards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-bottom: 5%;
}

.divServicesCardsHome {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-bottom: 5%;
  margin-top: 10%;
}